* {
  margin: 0;
  padding: 0;
  border: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: "Open Sans", sans-serif;
  src: local("Open-Sans"), local("Open Sans"), url("/source/fonts/opensans.woff") format("woff"), url("/source/fonts/opensans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans Bold", sans-serif;
  src: local("Open-Sans-Bold"), local("Open Sans Bold"), url("/source/fonts/opensansbold.woff") format("woff"), url("/source/fonts/opensansbold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans Light", sans-serif;
  src: local("Open-Sans-Light"), local("Open Sans Light"), url("/source/fonts/opensanslight.woff") format("woff"), url("/source/fonts/opensanslight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
.page-header {
  background: #1D2631;
}
.main-nav .site-list {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
}
.main-nav .site-list .site-list__link {
  text-decoration: none;
  color: #FFFFFF;
}
.application {
  margin-top: 32px;
}
.application__title {
  font-family: "Open Sans Light", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
  width: 280px;
  padding-bottom: 50px;
}
.application__link {
  border: 3px solid #FFFFFF;
  border-radius: 29px;
  padding-left: 39px;
  padding-right: 39px;
  padding-top: 19px;
  padding-bottom: 19px;
  font-family: "Open Sans Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
}
.application__img-wrapper {
  padding-top: 50px;
}
.application__text {
  font-family: "Open Sans Light", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  width: 280px;
  color: #FFFFFF;
  padding-top: 30px§;
}
.about-application__title {
  font-family: "Open Sans Light", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #283645;
  margin-top: 46px;
}
.about-application__list-wrapper {
  background-color: #F2F2F2;
}
.about-application__header-text {
  font-family: "Open Sans Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}
.about-application__text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #283645;
}
.reviews {
  background-color: #FFFFFF;
}
.reviews__title {
  font-family: "Open Sans Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #000000;
  line-height: 30px;
}
.reviews__description {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
}
.price {
  background-color: #F2F2F2;
}
.price__options-item {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}
.price__header {
  background-color: #283645;
}
.price__title {
  font-family: "Open Sans Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.price__cost {
  font-family: "Open Sans Light", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.price__content-item {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #283645;
}
.contacts {
  margin-top: 50px;
}
.contacts__title-header {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #283645;
}
.contacts__title {
  font-family: "Open Sans Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #283645;
}
.contacts__description {
  font-family: "Open Sans Light", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #D22856;
}
.social-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  text-align: center;
  border: 3px solid #F2F2F2;
  border-radius: 50%;
}
.developer__text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #283645;
}
.header-form__title,
.header-catalog__title {
  font-family: "Open Sans Light", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #FFFFFF;
}
.form-title__text {
  font-family: "Open Sans Light", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
  width: 280px;
  margin: 0 auto;
}
.main-form__item,
.main-form__contacts-item {
  display: flex;
  flex-direction: column;
}
.main-form__surname,
.main-form__first-name,
.main-form__patronymic,
.main-form__contacts-number,
.main-form__contacts-email {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #D22856;
}
.main-form__surname-input,
.main-form__first-name-input,
.main-form__patronymic-input,
.main-form__contacts-number-input,
.main-form__contacts-email-input {
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 20px;
  border: 2px solid #E5E5E5;
  border-radius: 1px;
  outline: none;
  width: 276px;
}
.main-form__surname-input::-moz-placeholder, .main-form__first-name-input::-moz-placeholder, .main-form__patronymic-input::-moz-placeholder, .main-form__contacts-number-input::-moz-placeholder, .main-form__contacts-email-input::-moz-placeholder {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}
.main-form__surname-input::placeholder,
.main-form__first-name-input::placeholder,
.main-form__patronymic-input::placeholder,
.main-form__contacts-number-input::placeholder,
.main-form__contacts-email-input::placeholder {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}
.main-form__achievements-wrapper {
  background-color: #F2F2F2;
}
.main-form__header-achievements {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #D22856;
  width: 230px;
}
.main-form__check-list-label {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  color: #283645;
}
.main-form__application-wrapper {
  background-color: #F2F2F2;
}
.main-form__application-header {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #D22856;
}
.main-form__application-label {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}
.main-form__comment-header {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #D22856;
}
.main-form__comment-input {
  border: 2px solid #E5E5E5;
  border-radius: 1px;
  width: 276px;
  padding-bottom: 132px;
  padding-top: 22px;
  padding-left: 25px;
  padding-right: 25px;
}
.main-form__comment-input::-moz-placeholder {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  color: #283645;
}
.main-form__comment-input::placeholder {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  color: #283645;
}
.main-form__button {
  font-family: "Open Sans Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #2AAB6D;
  border: 2px solid #2AAB6D;
  border-radius: 1px;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 45px;
  padding-right: 45px;
}
.main-form__text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #283645;
}
.catalog-title__text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
}
.photo-catalog {
  background-color: #F2F2F2;
}
.photo-catalog .photo-catalog__text-name {
  font-family: "Open Sans Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}
.photo-catalog .photo-catalog__text-name--time {
  font-family: "Open Sans Light", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #283645;
}
.photo-catalog .photo-catalog__review {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}
.photo-catalog .photo-catalog__like {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #D22856;
}
.footer-catalog__title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
}
.photo-redactor {
  background-color: #F2F2F2;
}
.photo-redactor .photo-redactor__btn-wrapper {
  display: flex;
  flex-direction: column;
}
.photo-redactor .photo-redactor__btn {
  font-family: "Open Sans Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #D22856;
  border: 3px solid #D22856;
  box-sizing: border-box;
  border-radius: 30px;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 90px;
  padding-right: 90px;
  width: 280px;
}
.photo-redactor .photo-redactor__btn--none {
  opacity: 0.1;
  border: 3px solid #283645;
  color: #283645;
}
.photo-redactor .photo-redactor__btn:nth-child(2) {
  margin-top: 12px;
}
.visually-hidden {
  display: none;
}

/*# sourceMappingURL=style.css.map */
